footer{
    position: fixed;
    bottom: 0px;
    width: 100% !important;
    border-top: 1px black solid;
}
#logo{
    height: 70px;
}
html, body{
    background-color: #00d1b2;
    height: 100%;
}

#register , #login{
    margin-top: 10%;
}
#register-headline , #login-headline{
    text-align: center;
}
.error{
    color: red;
    text-align: center;
}

