footer{
    width: 100% !important;
    margin-top: 16%;
}
    #logo{
    height: 70px;
}
html, body{
    background-color: #00d1b2;
    min-height: 100%;
}

#create_poll_card{
    margin-bottom: 150px;
}
#register , #login{
    margin-top: 10%;
}
#register-headline , #login-headline{
    text-align: center;
}
.error{
    color: red;
    text-align: center;
}
#user_profile, .poll{
    text-align: center;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 1500px) {
    #user_profile, .poll {
        width: 50%;
    }
}
@media (max-width: 800px) {
    #user_profile, .poll {
        width: 70%;
    }
}
@media (max-width: 600px) {
    #user_profile, .poll {
        width: 90%;
    }
}


#loginform, #registerform{
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 30px 0 rgba(0, 0, 0, 0.19);
}

#createpollform{
    width: 60%;
    margin: auto;
    margin-top: 50px;
    
}
#answers{
    margin-bottom: 20px;
}
#add_and_delete{
    display: none;
}

.top-margin-table-button{
    margin-top: 10px;
}

#question{
    margin-bottom: 30px;
}
.disappear_animation{
    animation-name: hide;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.show_animation{
    animation-name: show;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}


@keyframes show {
    0% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
    75% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    100% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        padding: 0px;
        margin-bottom: 10px;
    }
}



@keyframes hide {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        padding: 0px;
        margin-bottom: 10px;
    }
    75% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
}

