{% extends "Pollapp/layout.html" %}

{% block body %}
<div class="card poll">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-2">About Pollapp project</p>
          <p class="title is-4">Pollapp was created as a final project for cs50 Web programming course</p>
          <a class="button" href="https://cs50.harvard.edu/x/2022/" target="_blank" rel="noreferrer noopener">Cs50</a>
          <a class="button" href="https://cs50.harvard.edu/web/2020/" target="_blank" rel="noreferrer noopener">Cs50 Web</a>
          <p class="title is-4">If you want to contact me visit "Contact" page</p>
          <p class="title is-4">You can see pollapp source code by vistitng this github repository</p>
          <a href="https://github.com/Antonekk/Cs50-Final-Project" target="_blank" rel="noreferrer noopener"class="button">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>Pollapp</span>
           </a>
        </div>
      </div>
    </div>
  </div>

{% endblock%}