{% extends "Pollapp/layout.html" %}

{% block body %}
<div class="card poll">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
        <p class="title is-2">Contact</p>
          <p class="title is-4">Email: antonistrasz@gmail.com</p>
          <p class="title is-4">Github account: </p>
          <a href="https://github.com/Antonekk" target="_blank" rel="noreferrer noopener"class="button small-bottom-margin">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>Antonekk</span>
           </a>
           
          <p class="title is-4">Pollapp project on github: </p>
          <a href="https://github.com/Antonekk/Cs50-Final-Project" target="_blank" rel="noreferrer noopener"class="button">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>Pollapp</span>
           </a>
        </div>
      </div>
    </div>
  </div>

{% endblock%}