{% extends "Pollapp/layout.html" %}

{% block body %}
{% if user.is_authenticated %}


<form id="createpollform" class="box" action='{% url "create_poll" %}' method="post" >
    {% csrf_token %}
    <div id="question" class="field">
        <label class="label">Question</label>
        <div class="control">
        <input class="input" type="text" name="question_name" placeholder="Enter your question">
        </div>
    </div>

        <div class="field">
            <label class="label">Answer #1</label>
            <div class="control">
            <input class="input" type="text" name="answer1_name" placeholder="Enter your question">
            </div>
        </div>

        <div class="field">
            <label class="label">Answer #2</label>
            <div class="control">
            <input class="input" type="text" name="answer2_name" placeholder="Enter your question">
            </div>
        </div>

        <div id="answers">

        </div>


    <div class="control buttons are-small">
        <button  onclick="addField()" type="button" class="button is-primary is-rounded is-outlined">+</button>
        <button id="add_and_delete" onclick="removeField()" type="button" class="button is-danger is-rounded is-outlined">-</button>
        
    </div>
    
       
    <div class="field">
        <label class="checkbox">
            <input type="checkbox" name="private">
            Private
          </label>
    </div>
    
    
    <div class="field is-grouped">
        <div class="control">
        <button class="button is-link">Submit</button>
        </div>
        <div class="control">
        <a class="button is-link is-light" href="{% url 'polls' '1'%}">Cancel</a>
        </div>
    </div>

</form>

{% endif %}

{% endblock%}