{% extends "Pollapp/layout.html" %}

{% block body %}
<section class="hero is-primary">
    <div class="hero-body has-text-centered">
      <p class="title is-size-1">
        What can you do in Pollapp?
      </p>
      <p class="subtitle is-size-1 m-6">
        - Create free polls
      </p>
      <p class="subtitle  is-size-1 m-6">
        - Invite people for voting
      </p>
      <p class="subtitle is-size-1 m-6">
        - See details of your pole
      </p>
      <p class="subtitle is-size-1 m-6">
        - Use our API to have access your pole
      </p>
    </div>
</section>

    
{% endblock%}