{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon"href="{% static 'Pollapp/favicon.ico' %}">
    <title>Pollapp</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'Pollapp/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
     <script src="{% static 'Pollapp/frontend_code.js' %}"></script>
  </head>
  <body>
    <section id = "menu" class="hero is-primary">
      <nav class="level">
        <p class="level-item has-text-centered is-size-5">
          <a href="{% url 'index' %}" class="link is-info" >Home</a>
        </p>
        <p class="level-item has-text-centered is-size-5">
          <a href="{% url 'polls' %}"class="link is-info">Polls</a>
        </p>
        <a href="{% url 'index' %}" class="level-item m-2">
          <img id="logo"src="{% static 'Pollapp/images/pollapp_icon.png'%}" alt="">
        </a>
        {% if user.is_authenticated %}
        <p class="level-item has-text-centered is-size-5">
          <a href="{% url 'profile'%}" class="link is-info">Profile</a>
        </p>
        <p  class="level-item has-text-centered is-size-5" >
          <a href="{% url 'logout' %}" class="link is-info">Logout</a>
        </p>
        {% else %}
        <p class="level-item has-text-centered is-size-5">
          <a href="{% url 'login' %}" class="link is-info">Login</a>
        </p>
        <p  class="level-item has-text-centered is-size-5" >
          <a href="{% url 'register' %}" class="link is-info">Register</a>
        </p>
        {% endif %}
      </nav>
    </section>
      {% block body %}

      {% endblock %}
    <footer id="footer">
      <section class="hero is-primary">
        <nav class="level">
          <p class="level-item has-text-centered">
            <a class="link is-info">About</a>
          </p>
          <p class="level-item has-text-centered">
            <a class="link is-info">Contact</a>
          </p>
          <p class="level-item has-text-centered">
            <a class="link is-info" href="https://github.com/Antonekk/Cs50-Final-Project" target="_blank" rel="noreferrer noopener">Github</a>
          </p>
        </nav>
      </section>
    </footer>
   
    
  </body>
  
</html>