{% extends "Pollapp/layout.html" %}

{% block body %}


<div class="card poll">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          {% if user.is_authenticated %}
          {% if poll.user == request.user %}
          <form action='{% url "deactivate" poll.url %}' method="post">
            {% csrf_token %}
            {% if poll.active %}
              <button class="button is-danger is-outlined is-rounded small-bottom-margin " type="submit" name="like" value="like">Deactivate</button>
            {% else %}
              <button class="button is-primary is-outlined is-rounded small-bottom-margin " type="submit" name="like" value="like">Reactivate</button>
            {% endif %}
          </form>
          {% else%}
          <form action='{% url "like" poll.url %}' method="post">
            {% csrf_token %}
            {% if liked %}
              <button class="button is-warning is-outlined is-rounded small-bottom-margin " type="submit" name="like" value="unlike">Unlike</button>
            {% else %}
              <button class="button is-info is-outlined is-rounded small-bottom-margin " type="submit" name="like" value="like">Like</button>
            {% endif %}
          </form>
          {% endif %}
          {% endif %}
          
          
          <p class="title is-5">Author: {{poll.user}}</p>
            <p class="title is-3">Question: {{poll.poll_question}}</p>
            <div class="table-container">
              {% if user.is_authenticated %}
                <table class="table">
                        {% for option in options %}
                        <tr>
                            <form action='{% url "poll_page" poll.url %}' method="post">
                              {% csrf_token %}
                                <th class="subtitle is-3">
                                  {{option}}
                                  <input type = "hidden" name = "option" value = "{{option}}"></input>
                                </th>
                                <th>
                                  {% if option == voted_on %}
                                    <button class="button is-danger is-outlined is-rounded top-margin-table-button " type="submit">Un Vote</button>
                                  {% else %}
                                    <button class="button is-success is-outlined is-rounded top-margin-table-button " type="submit">Vote</button>
                                  {% endif %}
                              </th>  
                            </form>
                        </tr>
                        {% endfor %}
                      
                </table>
                {% endif %}
            </div>
          </div>
          
        </div>
        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
      </div>
    </div>
    
    <script>
      const data = {
          labels: {{options_set | safe}},
          datasets: [{
            label: 'My First Dataset',
            data: {{votes_number | safe}},
            backgroundColor: [
              'rgb(250, 250, 110)',
              'rgb(57, 180, 142)',
              'rgb(0, 137, 138)',
              'rgb(42, 72, 88)',
              'rgb(250, 110, 110)',
              'rgb(149, 96, 155)',
              'rgb(112, 233, 126)',
              'rgb(180, 140, 48)',
              'rgb(134, 53, 88)',
              'rgb(110, 126, 250)',
            ],
            hoverOffset: 4
          }]
      };
      var myChart = new Chart("myChart", {
          type: 'pie',
          data: data,
          
            
      });

    </script>


{% endblock%}