{% extends "Pollapp/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
<div id="create_poll_card" class="card poll">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">Create new poll</p>
          <form action="{% url 'create_poll' %}">
            <button class="button is-primary is-rounded" type="submit">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% for poll in polls %}
    <div class="card poll">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5">Author: {{poll.user}}</p>
              <p class="title is-3">Question: {{poll.poll_question}}</p>
              <form action="{% url 'create_poll' %}">
                <button class="button is-primary is-rounded" type="submit">Vote</button>
              </form>
            </div>
          </div>
        </div>
      </div>
  {% endfor %}
{% endif %}

{% endblock%}