{% extends "Pollapp/layout.html" %}

{% block body %}
{% if user.is_authenticated %}

<div class="card poll">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-5">Author: {{poll.user}}</p>
            <p class="title is-3">Question: {{poll.poll_question}}</p>
            <div class="table-container">
                <table class="table">
                        {% for option in options %}
                        <tr>
                            <form action='{% url "poll_page" poll.url %}' method="post">
                              {% csrf_token %}
                                <th class="subtitle is-3">
                                  {{option}}
                                  <input type = "hidden" name = "option" value = "{{option}}"></input>
                                </th>
                                <th>
                                  {% if option == voted_on %}
                                    <button class="button is-danger is-outlined is-rounded top-margin-table-button " type="submit">Un Vote</button>
                                  {% else %}
                                    <button class="button is-success is-outlined is-rounded top-margin-table-button " type="submit">Vote</button>
                                  {% endif %}
                              </th>  
                            </form>
                        </tr>
                        {% endfor %}
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endif %}

{% endblock%}