{% extends "Pollapp/layout.html" %}

{% block body %}
<div id="user_profile" class="card">
    <div style="min-width:100%;" class="card-content">
      <div style="min-width:100%;" class="media">
        <div style="min-width:100%;" class="media-content">
          <a class="button is-link is-rounded small-bottom-margin" href="{% url 'api_info' %}">API</a>
          <p class="title is-4">{{user.username}}</p>
          <p class="subtitle is-6">{{user.email}}</p>
          
        </div>
      </div>
  
      <div style="min-width:100%;" class="content"></div>
        <br>
        <time datetime="2016-1-1">Profile created on: {{user.date_joined}}</time>
      </div>
      
      <div class="tabs is-centered">
        <ul>
          
          {% if category == "active"%}
            <li class="is-active"><a>Your Polls</a></li>
          {% else %}
            <li><a href="{% url 'profile' 'active' '1' %}">Your Polls</a></li>
          {% endif %}

          {% if category == "archived"%}
            <li class="is-active"><a>Archived</a></li>
          {% else %}
            <li><a href="{% url 'profile' 'archived' '1' %}">Archived</a></li>
          {% endif %}

          {% if category == "liked"%}
            <li class="is-active"><a>Liked</a></li>
          {% else %}
            <li><a href="{% url 'profile' 'liked' '1' %}">Liked</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

  
  <div class="card poll">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <nav style="width: 100%; height: 100%;"class="pagination is-small is-centered" role="navigation" aria-label="pagination">
            <ul class="pagination-list">
              {% if has_first %}
                <li><a class="pagination-link" href="{% url 'profile' category '1' %}" aria-label="Goto page {{current_page_number}}">1</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
              {% endif %}
              
              {% if has_previous %}
                <li><a class="pagination-link"  href="{% url 'profile' category previous %}"  aria-label="Goto page {{current_page_number}}">{{previous}}</a></li>
              {% endif %}

              <li><a class="pagination-link is-current" aria-label="Page {{current_page_number}}" aria-current="page">{{current_page_number}}</a></li>

              {% if has_next %}
                <li><a class="pagination-link" href="{% url 'profile' category next %}" aria-label="Goto page {{current_page_number}}">{{next}}</a></li>
              {% endif %}

              {% if has_last %}
              <li><span class="pagination-ellipsis">&hellip;</span></li>
              <li><a class="pagination-link" href="{% url 'profile' category number_of_pages %}"  aria-label="Goto page {{current_page_number}}">{{number_of_pages}}</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  {% for poll in polls %}
    <div class="card poll">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5">Author: {{poll.user}}</p>
              <p class="title is-3">Question: {{poll.poll_question}}</p>
              {% if poll.private %}
                <h5 class="subtitle is-5">Private</h5>
              {% else %}
                <h5 class="subtitle is-5">Public</h5>
              {% endif %}
              <form action="{% url 'poll_page' poll.url %}" >
                <button class="button is-primary is-rounded" type="submit">Check</button>
              </form>
            </div>
          </div>
        </div>
      </div>
  {% endfor %}

{% endblock%}