{% extends "Pollapp/layout.html" %}

{% block body %}

<div id ="register" class="column is-three-fifths is-offset-one-fifth">
    <form id="registerform" class="box " action="{% url 'register' %}" method="post" >
      {% csrf_token %}
      <h2 class="error">{{message}}</h2>
      <h3 id = "register-headline" class="title is-3">Register</h3>
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <input class="input" type="text" name="username" placeholder="e.g. alex123">
          </div>
        </div>
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" name="email" placeholder="e.g. alex@example.com">
          </div>
        </div>
      
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" name="password" placeholder="********">
          </div>
        </div>
    
        <div class="field">
            <label class="label">Confirm Password</label>
            <div class="control">
              <input class="input" type="password" name="password_confirmation" placeholder="********">
            </div>
          </div>
      
        <button class="button is-primary" type="submit">Register</button>
      </form>
</div>


{% endblock%}